<li class="event-card" style="background-image:url('{{{info.imgUrl}}}');">
	<div class="event-info">
		<h2>{{info.name}}</h2>

		<ul>
			<li>{{time-format info.startTime 'MMMM D'}} | {{time-format info.startTime 'h:mma'}} - {{time-format info.endTime 'h:mma'}} | {{info.location}}</li>
		</ul>

	</div>

	{{star-fav event=info}}
</li>