<li class="event-card" style="background-image:url('{{{info.imgUrl}}}');">
	<div class="event-info">
		<h2>{{info.name}}</h2>

		<ul>
			<li>{{info.date}}</li>
			<li>{{info.startTime}} - {{info.endTime}}</li>
			<li>{{info.location}}</li>
		</ul>

	</div>

	<span class="star"></span>
</li>