<li class="event-card-sm">
	<div class="event-info">
		<h3>{{info.name}}</h3>

		<ul>
			<li>{{info.date}}</li>
			<li>{{time-format info.startTime 'hh:mma'}} - {{time-format info.endTime 'hh:mma'}}</li>
			<li>{{info.location}}</li>
		</ul>

	</div>

	<span class="star"></span>
</li>