<div class="site-head">
  <span {{action 'showFeatured'}} {{bind-attr class='featured:active'}}>Featured</span><span {{action 'showAll'}} {{bind-attr class='all:active'}}>All</span><span {{action 'showStarred'}} {{bind-attr class='starred:active'}}>Starred</span>
</div>


{{#if featured}}

<ul class="events">
  {{#each modelFeatured as |info|}}
  {{event-card info=info}}
  {{else}}
  <li>No events found</li>
  {{/each}}
</ul>

{{else}}

{{#if groupedEvents}}
<div class="times">
	<span class="dotted"></span>
{{#each groupedEvents as |times|}}



  {{#if times.newDay}}
      <div class="day-section">{{time-format times.startTime 'MMMM D, YYYY'}}</div>
  {{/if}}

	{{#if times.startTime}}
      <div class="start-time">{{time-format times.startTime 'h:mm'}}</div>
    {{else}}
      	<div class="start-time">All day</div>
   	{{/if}}

	{{#each times.items as |info|}}
    	{{event-card-sm info=info}}
	{{/each}}

{{/each}}
</div>
{{else}}
  {{#if starred}}
  <div class="starred-zero">
    <img src="/assets/img/fav_lg.png">
    <h2>Add the events you want to see in your schedule by tapping the star icon.</h2>
  </div>
  {{/if}}
{{/if}}
{{/if}}