<div class="site-head">
  <span {{action 'showFeatured'}} {{bind-attr class='featured:active'}}>Featured</span>
  <span {{action 'showAll'}} {{bind-attr class='featured::active'}}>All</span>
</div>


{{#if featured}}

<ul class="events">
  {{#each modelFeatured as |info|}}
  {{event-card info=info}}
  {{else}}
  <li>No events found</li>
  {{/each}}
</ul>

{{else}}

<div class="times">
	<span class="dotted"></span>
{{#each groupedEvents as |times|}}



	{{#if times.startTime}}
    	<div class="start-time">{{time-format times.startTime 'h:mm'}}</div>
    {{else}}
      	<div class="start-time">All day</div>
   	{{/if}}

	{{#each times.items as |info|}}
    	{{event-card-sm info=info}}
	{{/each}}

{{else}}
  <div>No events found</div>
{{/each}}
</div>

{{/if}}